*
	padding: 0
	margin: 0
.center
	max-width: 900px
	margin: auto
.header
	height: 42px
	padding: 0 15px
	background-color: #4a76a8
	border-radius: 0 0 10px 10px;
	color: #e8eff7
	border-bottom: 1px solid #4872a3
	text-shadow: 0 1px 0 #4e7097
	font-size: 13.5px
	font-weight: 700
	font-family: Arial
	line-height: 42px
	.logo
		font-size: 16px
		&__bg
			padding: 2px 5px
			background-color: #e8eff7
			color: #4872a3
			border-radius: 3px
.body
	padding: 0 15px
	.sidebar
		float: left
		width: 190px
	.content
		margin-left: 190px
		padding: 12px
		border: 1px solid #E7E8EF

